{%extends "base.html"%}

{% block content %}

            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.vendor.label_tag }} {{ form.vendor }}
                {{ form.total.label_tag }} {{ form.total }}
                {{ form.tax.label_tag }} {{ form.tax }}
                {{ form.date.label_tag }} {{ form.date }}
                {{ form.category.label_tag }} {{ form.category }}
                {{ form.account.label_tag }} {{ form.account }}
                <button type="submit">Create</button>
            </form>
 
            {% endblock content %}