
{% extends 'base.html' %}

{% block title %}Create Receipt{% endblock title %}

{% block content %}
  
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>

{% endblock content %}
